* {
  margin: 0;
  font-family: "Hanken Grotesk";
  text-transform: uppercase;
  font-weight: bold;
}

body {
  line-height: 1;
  overflow: hidden;
}

main {
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  gap: 10px;
  margin: auto;
  margin-top: 25px;
}

.grid-item {
  text-align: center;
}

#image04 img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#image01 {
  max-height: 200px;
  min-height: 100px;
  grid-column-start: 1;
  grid-row-start: 1;
  background-color: red;
}
#image02 {
  max-height: 200px;
  min-height: 100px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: rgb(0, 255, 21);
}
#image03 {
  max-height: 200px;
  min-height: 100px;
  grid-column-start: 3;
  grid-row-start: 3;
  background-color: rgb(76, 0, 255);
}
#image04 {
  max-height: 700px;
  min-height: 100px;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 6;
  background-color: rgb(255, 0, 98);
}
#image05 {
  max-height: 120px;
  min-height: 80px;
  grid-column-start: 2;
  grid-row-start: 5;
  background-color: rgb(0, 204, 255);
}
#image06 {
  max-height: 200px;
  min-height: 50px;
  grid-column-start: 3;
  grid-row-start: 6;
  background-color: rgb(225, 0, 255);
}
